Top border
#border1 { 
  background-color: #555;
}

Bottom border
#border2 {
  background-color: #555;
  opacity: 0.2;
}

Background for signin box
.sign-in {
 height: 500px;
 width: 500px;
 background-color:#000000;
 border-color: #dedede;
}

Hover over links
.link:hover {
color: #006666; /* CSS link hover (spruce green) */
}

Hover over login link
.log:hover {
color: #000080 ; /* CSS link hover (navy blue) */
}

Login button background box
#background {
display: block;
height: 50px;
width: 500px;
background-color: #dedede;

}

Login button 
#login {
 display: block;
 height: 68px;
 width: 418px;
 background-color: blue;
}

.logo{
float:left;
padding-bottom: 3rem;
padding-right: 1rem;
top: 0px;
right: 0px;
}

.color {
background-color: #eeeeee ;    
}

.tabs {
  text-decoration: none;
  text-transform: capitalize;
  color:white;
}

.tabs:hover {
  color:#18bc9c;
}

.tab_list {
  list-style-type: none;
  float:right;
  padding-right: 2rem;
}

#right {
  position: absolute;
  left:0;
}

#right:before {
  content: "🎓";
}

img{
 border-color: #000;
 border-width: 2px;
 border-style: solid;  
 margin: 50px 100px 110px 440px;
}

h3{
margin: 0px 100px 100px 1000px;
}

.fonts{
font-family: 'Lato', Helvetica;    
}

nav {
  font-family: sans-serif;
  list-style-type: none;
  background-color:#2c3e50;
  padding: 2%;
  padding-bottom: 3%;
  margin-top: -0.45%;
  margin-right: -0.40%;
  border-radius: 2.1%;
  margin-left: -0.40%;

}