.rectangle {
  height: 50px;
  width: 10000px;
  background-color: #555;
}

.rectangle2 {
  height: 50px;
  width: 10000px;
  background-color: #555;
  opacity: 0.2;
}

.signin {
 height: 500px;
 width: 500px;
 background-color:#555;
}

.link:hover {
color: #006666; /* CSS link hover (spruce green) */
}

.log:hover {
color: #000080 ; /* CSS link hover (spruce green) */
}
#login {
 display: block;
 height: 68px;
 width: 418px;
 background-color: blue;
}

.thin-black-border {
    border-color: #000;
    border-width: 5px;
    border-style: solid;
}