Top border
.rectangle { 
  height: 50px;
  width: 10000px;
  background-color: #555;
}

Bottom border
.rectangle2 {
  height: 50px;
  width: 10000px;
  background-color: #555;
  opacity: 0.2;
}

Background for signin box
.sign-in {
 height: 500px;
 width: 500px;
 background-color:#000000 !important;
}

Hover over links
.link:hover {
color: #006666; /* CSS link hover (spruce green) */
}

Hover over login link
.log:hover {
color: #000080 ; /* CSS link hover (navy blue) */
}

Login Background box
#background {
display: block;
height: 50px;
width: 500px;
background-color: grey;
}

Login box
#login {
 display: block;
 height: 68px;
 width: 418px;
 background-color: blue;
}

Img border
.thin-black-border {
    border-color: #000;
    border-width: 5px;
    border-style: solid;
}


.logo{
position: static;
left: 5px;
top: 10px;
}

.color {
background-color: #eeeeee ;    
}